*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow: hidden;
}

.title {
    z-index: 10;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    margin: 0;
    flex-direction: column;
}

.subtitle {
    margin-top: .5rem;
}

.hide {
    display: none;
}

.bird {
    /* Below is set to -1000 to hide the bird at game start */
    --bird-top: -1000;
    --bird-size: 60px;
    position: absolute;
    background-color: hsl(50, 75%, 50%);
    width: var(--bird-size);
    height: var(--bird-size);
    left: var(--bird-size);
    top: calc(var(--bird-top) * 1px);
    border-radius: 50%;
}